body {
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
    padding: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: #1e1e1e;
    padding: 20px;
    width: 180px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 0 10px #0ff7;
}

#led {
    width: 40px;
    height: 40px;
    background: grey;
    border-radius: 50%;
    margin: 10px auto;
    box-shadow: 0 0 15px grey;
}

.indicator-box {
    margin-top: 30px;
    font-size: 22px;
}

canvas {
    margin-top: 30px;
    width: 80%;
    max-width: 700px;
    height: 300px;
}
canvas {
    width: 90% !important;
    height: 300px !important;
    display: block;
    margin: 20px auto;
    background: #111;
    border-radius: 12px;
    box-shadow: 0 0 20px #00eaff33;
    padding: 10px;
}